@model ManarAlSabeel.Web.Models.DisciplinaryActivitiesListModel
@using ManarAlSabeel.Domain.Entities
@{
    ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle(@StringTable.DisciplinaryActivitiesListPageTitle);
}

<h2>@StringTable.DisciplinaryActivitiesListPageTitle</h2>

<style type="text/css">
	.registered-student-div {
		float: right;
		width: 200px;
		margin: 2px;
	}

	.registered-student-name {
		font-family: Arial;
		font-weight: bold;
		font-size: 13pt;
	}
</style>

<div>
	@foreach (DisciplinaryActivityLog disciplinaryActivity in Model.DisciplinaryActivities)
	{
		<div class="registered-student-div panel panel-default">
			<div class="panel-body">
				<div>@disciplinaryActivity.Date.ToShortDateString()</div>
				<div>@disciplinaryActivity.Reason</div>
				<div>@disciplinaryActivity.Details</div>
			</div>
			<div class="panel-footer">
				<div>
					@Html.ActionLink(StringTable.EditDisciplinaryActivity, "Edit", new { @disciplinaryActivity.ID })
				</div>
			</div>
		</div>
	}
</div>
