@model ManarAlSabeel.Web.Models.EditStudentViewModel
@using ManarAlSabeel.Domain.Entities

@{
	
	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle(@StringTable.EditStudentInfo);
	
	Branch _branch = (Model.Student.Branch != null && Model.Student.Branch.ID > 0)
		?
		Model.Student.Branch
		:
		@HttpContext.Current.Profile["BranchFilter"] as Branch;
}

<br />

<div class="panel panel-default" style="width: 45%; margin: 0 auto;">
	<div class="panel-body">

		@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { enctype = "multipart/form-data", role="form" }))
		{
			@Html.ValidationSummary()
			
			<div class="form-group">
				<label>@StringTable.Name:</label>
				@Html.TextBoxFor(x => x.Student.Name, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.DateOfBirth:</label>
				@Html.TextBoxFor(x => x.Student.BirthDate,
					new { @class = "form-control date-input", data_date_format = "dd/mm/yyyy",
						  Value = Model.Student.BirthDate.ToShortDateString(),
						  dir="ltr"
						}
					)
			</div>
			
			<div class="form-group">
				<label>@StringTable.OriginalNationality</label>
				@Html.DropDownListFor(x => x.Student.OriginalNationality.ID,
					@ManarAlSabeel.Web.Heplers.Helpers.CountriesToSelectListItems(Model.Countries),
					new { @class = "form-control select2" })
			</div>
			
			<div class="form-group">
				<label>@StringTable.AcquiredNationality</label>
				@Html.DropDownListFor(x => x.Student.AcquiredNationality.ID,
					@ManarAlSabeel.Web.Heplers.Helpers.CountriesToSelectListItems(Model.Countries, true),
					new { @class = "form-control select2" })
			</div>
			
			<div class="form-group">
				<label>@StringTable.Guardian</label>
				@Html.DropDownListFor(x => x.Student.Guardian.ID,
					@ManarAlSabeel.Web.Heplers.Helpers.GuardiansToSelectListItems(Model.Guardians),
					new { @class = "form-control select2" })
			</div>
			
			<div class="form-group">
				<label>@StringTable.Branch</label>
				@Html.TextBox("branch", _branch.Name, new { disabled = "disabled", @class = "form-control" })
				@Html.HiddenFor(x => x.Student.Branch.ID, new { Value = _branch.ID })
			</div>
			
			<div class="form-group">
				<label>@StringTable.SchoolName:</label>
				@Html.TextBoxFor(x => x.Student.SchoolName, new { @class = "form-control" })
			</div>
			
			<div class="form-group">
				<label>@StringTable.SchoolClassName:</label>
				@Html.TextBoxFor(x => x.Student.SchoolClass, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.LastStudyDegree:</label>
				@Html.TextBoxFor(x => x.Student.LastEducationDegree, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.CurrentStudySatge:</label>
				@Html.TextBoxFor(x => x.Student.EducationStage, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.ExpectedPeriodToFinishQuraan:</label>
				@Html.TextBoxFor(x => x.Student.ExpectedQuraanFinishTime, new { @class = "form-control" })
			</div>
			
			<div class="form-group">
				<label>@StringTable.HowDidYouTheCenter:</label>

				@Html.RadioButtonFor(x => x.Student.HowKnewTheCenter, HowKnewTheCenter.Ad)
				<label>@StringTable.Ad</label>
				
				@Html.RadioButtonFor(x => x.Student.HowKnewTheCenter, HowKnewTheCenter.Friend)
				<label>@StringTable.Friend</label>
				
				@Html.RadioButtonFor(x => x.Student.HowKnewTheCenter, HowKnewTheCenter.Other)
				<label>@StringTable.Other</label>
				
			</div>

			<div class="form-group">
				<label>@StringTable.IsStudentRegisteredInTransportations:</label>
				@Html.CheckBoxFor(x => x.Student.IsInTransportations)
			</div>

			<div class="form-group">
				<label>@StringTable.Sex:</label>

				@Html.RadioButtonFor(x => x.Student.Sex, ManarAlSabeel.Domain.Entities.Sex.Male, new { disabled = "disabled" })
				<label>@StringTable.Male</label>
				
				@Html.RadioButtonFor(x => x.Student.Sex, ManarAlSabeel.Domain.Entities.Sex.Female, new { disabled = "disabled" })
				<label>@StringTable.Female</label>
			</div>

			<div class="form-group">
				<label>@StringTable.Status:</label>

				@Html.RadioButtonFor(x => x.Student.Staus, StudentStatus.Active)
				<label>@StringTable.Active</label>
				
				@Html.RadioButtonFor(x => x.Student.Staus, StudentStatus.InActive)
				<label>@StringTable.InActive</label>

				@Html.RadioButtonFor(x => x.Student.Staus, StudentStatus.Expelled)
				<label>@StringTable.Expelled</label>
			</div>
			
			@Html.HiddenFor(x => x.Student.ID)
			<hr />

			<input type="submit" value="@StringTable.Save"
				   class="btn btn-lg btn-primary btn-block" />
		}

	</div>
</div>