@model ManarAlSabeel.Domain.Entities.Student

@{
	ViewBag.Title = ManarAlSabeel.Web.HtmlHeplers.Helpers.GetPageTitle(@StringTable.EditStudentInfo);
}

<br />

<div class="panel panel-default" style="width: 45%; margin: 0 auto;">
	<div class="panel-body">

		@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { enctype = "multipart/form-data", role="form" }))
		{
			@Html.ValidationSummary()

			<div class="form-group">
				<label>@StringTable.Name:</label>
				@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.DateOfBirth:</label>
				@Html.TextBoxFor(x => x.BirthDate,
					new { @class = "form-control date-input", data_date_format = "dd/mm/yyyy",
						  Value = Model.BirthDate.ToShortDateString()
						}
					)
			</div>

			<div class="form-group">
				<label>@StringTable.SchoolName:</label>
				@Html.TextBoxFor(x => x.SchoolName, new { @class = "form-control" })
			</div>
			
			<div class="form-group">
				<label>@StringTable.SchoolClassName:</label>
				@Html.TextBoxFor(x => x.SchoolClass, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.LastStudyDegree:</label>
				@Html.TextBoxFor(x => x.LastEducationDegree, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.CurrentStudySatge:</label>
				@Html.TextBoxFor(x => x.EducationStage, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.HowDidYouTheCenter:</label>
				@Html.TextBoxFor(x => x.HowKnewTheCenter, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.ExpectedPeriodToFinishQuraan:</label>
				@Html.TextBoxFor(x => x.ExpectedQuraanFinishTime, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.IsStudentRegisteredInTransportations:</label>
				@Html.CheckBoxFor(x => x.IsInTransportations)
			</div>

			<div class="form-group">
				<label>@StringTable.Sex:</label>
				<label>@StringTable.Male</label>
				@Html.RadioButtonFor(x => x.Sex, ManarAlSabeel.Domain.Entities.Sex.Male)
				<label>@StringTable.Female</label>
				@Html.RadioButtonFor(x => x.Sex, ManarAlSabeel.Domain.Entities.Sex.Female)
			</div>

			<div class="form-group">
				<label>@StringTable.Status:</label>
				@Html.TextBoxFor(x => x.Staus, new { @class = "form-control" })
			</div>

			<hr />
			@Html.TextBoxFor(x => x.Branch.ID)
			@Html.TextBoxFor(x => x.Guardian.ID)
			@Html.TextBoxFor(x => x.OriginalNationality.ID)

			if (Model.AcquiredNationality != null && Model.AcquiredNationality.ID > 0)
			{
				@Html.TextBoxFor(x => x.AcquiredNationality.ID)
			}
			else
			{
				@Html.TextBoxFor(x => x.AcquiredNationality.ID, new { Value = "0" })
			}

			@Html.TextBoxFor(x => x.ID)
			<hr />

			<input type="submit" value="@StringTable.Save"
				   class="btn btn-lg btn-primary btn-block" />
		}

	</div>
</div>