@model ManarAlSabeel.Web.Models.ClassEditViewModel
@using ManarAlSabeel.Domain.Entities
@using ManarAlSabeel.Web.Heplers
@using ManarAlSabeel.Web.Models

@{
	string pageTitle = (Model.ClassID == 0) ? StringTable.AddClass : StringTable.EditClass;
	ViewBag.Title = Helpers.GetPageTitle(@StringTable.EditClass);
	BranchViewModel _branch = Helpers.GetBranchViewModel(Model.BranchID, Model.BranchName);
}

<h2>@pageTitle</h2>

<div class="panel panel-default" style="width: 45%; margin: 0 auto;">
	<div class="panel-body">

		@using (Html.BeginForm("Edit", "Class", FormMethod.Post, new { role = "form" }))
		{
			@Html.ValidationSummary(true)
			
			<div class="form-group">
				<label>@StringTable.Name</label>
				@Html.TextBoxFor(x => x.ClassName, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.ClassName)
			</div>
			
			<div class="form-group">
				<label>@StringTable.Teacher</label>
				@Html.DropDownListFor(x => x.TeacherID,
								@Helpers.TeachersToSelectListItems(Model.Teachers),
					new { @class = "form-control select2" })
				@Html.ValidationMessageFor(x => x.TeacherID)
			</div>
			
			<div class="form-group">
				<label>@StringTable.Semester</label>
				@Html.DropDownListFor(x => x.SemesterID,
								@ManarAlSabeel.Web.Heplers.Helpers.SemestersToSelectListItems(Model.Semesters),
					new { @class = "form-control select2" })
				@Html.ValidationMessageFor(x => x.SemesterID)
			</div>
			
			<div class="form-group">
				<label>@StringTable.Branch</label>
				@Html.TextBox("branch", _branch.Name, new { disabled = "disabled", @class = "form-control" })
				@Html.HiddenFor(x => x.BranchID, new { Value = _branch.ID })
			</div>
			
			<div class="form-group">
				<label>@StringTable.TeachingPeriod</label>

				@Html.RadioButtonFor(x => x.TeachingPeriod, ClassTeachingPeriod.Morning)
				<label>@StringTable.Morning</label>
				
				@Html.RadioButtonFor(x => x.TeachingPeriod, ClassTeachingPeriod.Evening)
				<label>@StringTable.Evening</label>
			</div>
			
			<div class="form-group">
				<label>@StringTable.Sex</label>

				@Html.RadioButtonFor(x => x.Sex, ManarAlSabeel.Domain.Entities.Sex.Male, new { disabled = "disabled" })
				<label>@StringTable.Male</label>
				
				@Html.RadioButtonFor(x => x.Sex, ManarAlSabeel.Domain.Entities.Sex.Female, new { disabled = "disabled" })
				<label>@StringTable.Female</label>
			</div>
			
			@Html.HiddenFor(x => x.ClassID)

			<input type="submit" value="@StringTable.Save"
				   class="btn btn-lg btn-primary btn-block" />
		}
	</div>
</div>