@model ManarAlSabeel.Domain.Entities.Semester
@using ManarAlSabeel.Domain.Entities

@{

	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle(@StringTable.EditSemester);

	Branch _branch = (@HttpContext.Current.Profile["BranchFilter"] != null)
		?
		@HttpContext.Current.Profile["BranchFilter"] as Branch
		:
		Model.Branch;
}

<h2>@StringTable.EditSemester</h2>

<div class="panel panel-default" style="width: 45%; margin: 0 auto;">
	<div class="panel-body">

		@using (Html.BeginForm("Edit", "Semester", FormMethod.Post, new { role = "form" }))
		{
			@Html.ValidationSummary(true)

			<div class="form-group">
				<label>@StringTable.Name</label>
				@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.Name)
			</div>

			<div class="form-group">
				<label>@StringTable.Branch</label>
				@Html.TextBox("branch", _branch.Name, new { disabled = "disabled", @class = "form-control" })
				@Html.HiddenFor(x => x.Branch.ID, new { Value = _branch.ID })
			</div>

			<div class="form-group">
				<label>@StringTable.StartDate</label>
				@Html.TextBoxFor(x => x.StartDate,
					new { @class = "form-control date-input", dir = "ltr", Value=Model.StartDate.ToShortDateString(), data_date_format="dd/mm/yyyy" })
				@Html.ValidationMessageFor(x => x.StartDate)
			</div>

			<div class="form-group">
				<label>@StringTable.EndDate</label>
				@Html.TextBoxFor(x => x.EndDate,
					new { @class = "form-control date-input", dir = "ltr", Value = Model.EndDate.ToShortDateString(), data_date_format="dd/mm/yyyy" })
				@Html.ValidationMessageFor(x => x.EndDate)
			</div>

			@Html.HiddenFor(x => x.ID)

			<input type="submit" value="@StringTable.Save"
				   class="btn btn-lg btn-primary btn-block" />
		}

	</div>
</div>