@model ManarAlSabeel.Domain.Entities.StudentGuardian
@using ManarAlSabeel.Domain.Entities

@{
	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle(@StringTable.EditStudentGuardian);

	Branch _branch = (@HttpContext.Current.Profile["BranchFilter"] != null)
		?
		@HttpContext.Current.Profile["BranchFilter"] as Branch
		:
		Model.Branch;
}

<h2>@StringTable.EditStudentGuardian</h2>

<div class="panel panel-default" style="width: 45%; margin: 0 auto;">
	<div class="panel-body">

		@using (Html.BeginForm("Edit", "StudentGuardian", FormMethod.Post, new { role = "form" }))
		{
			@Html.ValidationSummary()

			<div class="form-group">
				<label>@StringTable.Name</label>
				@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.Name)
			</div>

			<div class="form-group">
				<label>@StringTable.Branch</label>
				@Html.TextBox("branch", _branch.Name, new { disabled = "disabled", @class = "form-control" })
				@Html.HiddenFor(x => x.Branch.ID, new { Value = _branch.ID })
			</div>
			
			<div class="form-group">
				<label>@StringTable.HomePhone</label>
				@Html.TextBoxFor(x => x.HomePhone, new { @class = "form-control", dir = "ltr" })
			</div>

			<div class="form-group">
				<label>@StringTable.MobileNumber</label>
				@Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", dir = "ltr" })
				@Html.ValidationMessageFor(x => x.MobilePhone)
			</div>

			<div class="form-group">
				<label>@StringTable.OtherPhoneNumber</label>
				@Html.TextBoxFor(x => x.OtherPhone, new { @class = "form-control", dir = "ltr" })
			</div>

			<div class="form-group">
				<label>@StringTable.HomeAddress</label>
				@Html.TextBoxFor(x => x.HomeAddress, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label>@StringTable.Email</label>
				@Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type="email", dir="ltr" })
			</div>

			<div class="form-group">
				<label>@StringTable.Sex</label>
				<label>@StringTable.Male</label>
				@Html.RadioButtonFor(x => x.Sex, ManarAlSabeel.Domain.Entities.Sex.Male)
				<label>@StringTable.Female</label>
				@Html.RadioButtonFor(x => x.Sex, ManarAlSabeel.Domain.Entities.Sex.Female)
			</div>

			
			<hr />
			@Html.HiddenFor(x => x.ID)
			<hr />

			<input type="submit" value="@StringTable.Save"
				   class="btn btn-lg btn-primary btn-block" />
		}

	</div>
</div>