@model ManarAlSabeel.Web.Models.StudentGuardiansListViewModel

@{
	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle(@StringTable.StudentGuardiansList);
}

<h2>@StringTable.StudentGuardiansList</h2>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>@StringTable.Name</th>
			<th>@StringTable.Sex</th>
			<th>@StringTable.ChildrenCount</th>
			<th></th>
		</tr>
	</thead>
	@foreach (ManarAlSabeel.Domain.Entities.StudentGuardian guardian in Model.Guardians)
	{
		<tr>
			<td>
				@Html.ActionLink(guardian.Name, "Edit", new { guardian.ID })
			</td>
			<td>
				@ManarAlSabeel.Web.Heplers.Helpers.GetSexCaption(guardian.Sex)
			</td>
			<td>
				@Html.ActionLink(guardian.Children.Count.ToString(), "List", "Student", new { guardianId = guardian .ID}, null)
			</td>
			<td>
				@using (@Html.BeginForm("Delete", "StudentGuardian"))
				{
					@Html.Hidden("guardianId", guardian.ID)
					@Html.Hidden("returnUrl", "/")
					<input class="btn btn-default btn-xs" type="submit"
						   value="@StringTable.Delete"
						   onclick="return confirm('@StringTable.AreYouSure');" />
				}
			</td>
		</tr>
	}

</table>

<ul class="pagination">
	@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</ul>