@{
	ViewBag.Title = @StringTable.LoginPageTitle;
}

<br />

<div class="panel panel-default" style="width: 40%; margin: 0 auto;">
	<div class="panel-body">
		
		<h3>@StringTable.LoginPageTitle</h3>

		@using (Html.BeginForm("Login", "SystemAdmins", FormMethod.Post, new { role = "form", @class = "form-signin" }))
		{
			@Html.ValidationSummary(true)

			@Html.TextBox("email", "", new { @type = "email", @class = "form-control",
				placeholder = @StringTable.Email, dir="ltr",
				required="required" })
			
			@Html.Password("password", "", new { @class = "form-control",
				placeholder = @StringTable.Password, dir="ltr",
				required="required" })

			<br />
			<button type="submit" class="btn btn-lg btn-primary btn-block">دخول</button>
		}
	</div>
</div>