@model ManarAlSabeel.Domain.Entities.Semester
@using ManarAlSabeel.Web.Heplers
@using ManarAlSabeel.Domain.Entities
@using System.Collections.Generic

@{
	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle("");
}
<br /><br />
<style type="text/css">
	.class-panel {
		float: right;
		width: 260px;
		margin: 6px;
		min-height: 155px;
	}

	.class-panel-heading {
		font-weight: bold;
	}

	.no-students {
		font-style: italic;
		color: #B6B2B2;
		margin: auto;
		text-align: center;
		vertical-align: middle;
	}

	.track-name-heading {
		margin-bottom: 1px;
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
	}

	.devider {
		background: #C1BCB9;
		height: 1px;
		margin-bottom: 1px;
		margin-top: 1px;
	}

	.students-count {
		text-align: left;
		height: 3px;
		margin-bottom: 10px;
		font-style: italic;
		font-size: 10pt;
	}

	.semester-name {
		color: #033633;;
	}
</style>
<div class="panel panel-default">
	<div class="panel-body">
		@if (Model == null)
		{
			<div>
				<h2>
					@Messages.ThereIsNoCurrentSemester
				</h2>
			</div>
		}
		else
		{
			<div>
				<h2 class="semester-name">@StringTable.CurrentSemester [@Model.Name]</h2>
			</div>
			<div>
				@Html.ActionLink(@StringTable.SemesterRegisteredStudentsList, "List", "RegisteredStudent", new { semesterId = Model.ID }, null)
			</div>
			<div>
				@Html.ActionLink(@StringTable.AddRegisteredStudentToSemester, "Create", "RegisteredStudent", new { semesterId = Model.ID }, null)
			</div>
		}
	</div>
</div>
