@model ManarAlSabeel.Web.Models.HomeDashboardViewModel
@using ManarAlSabeel.Web.Heplers
@using ManarAlSabeel.Domain.Entities
@using System.Collections.Generic

@{
	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle("");
}
<br /><br />
@if (Model != null)
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="semester-name">
				@StringTable.CurrentSemester
				@Html.ActionLink(Model.Semester.Name, "Edit", "Semester", new { Model.Semester.ID }, null)
				@string.Format(StringTable.PeriodBetweenString, Model.Semester.StartDate.ToShortDateString(), Model.Semester.EndDate.ToShortDateString())
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<h4>@StringTable.Classes</h4>
					<ul>
						@{int studentsCount = 0;}
						@foreach (Class _class in Model.Semester.Classes)
						{
							<li>
								@Html.ActionLink(_class.Name, "Edit", "Class", new { _class.ID }, null)
								(@_class.RegisteredStudents.Count @StringTable.AStudent)
								@{studentsCount += _class.RegisteredStudents.Count;}
							</li>
							
						}
					</ul>
					---------------------------------
					<br />
					
					@StringTable.NofStudentInSemester (@Html.ActionLink(@studentsCount.ToString() + " " + StringTable.AStudent, "List", "RegisteredStudent", new { semesterId = Model.Semester.ID }, null))
				</div>
				<div class="col-md-6">
					<h4>@StringTable.Exams</h4>
					<ul>
						@{int examsCount = 0;}
						@foreach (IGrouping<ExamType, Exam> examGroup in Model.ExamsGroup)
						{
							<li>
								@examGroup.Key.Name
								(@Html.ActionLink(@examGroup.Count().ToString() + " " + @StringTable.AnExam, "List", "Exam", new { examType = examGroup.Key.ID, semesterId=Model.Semester.ID }, null))
							</li>
							examsCount += examGroup.Count();
						}
					</ul>
					---------------------------------
					<br />
					@StringTable.NofExamsPerSemester (@examsCount @StringTable.AnExam)
				</div>
			</div>
		</div>
		<div class="panel-footer" style="text-align: left;">
			+ @Html.ActionLink(@StringTable.AddRegisteredStudentToSemester, "Create", "RegisteredStudent", new { semesterId = Model.Semester.ID }, null)
		</div>
	</div>
}