@model ManarAlSabeel.Web.Models.RegisteredStudentsListViewModel
@using ManarAlSabeel.Domain.Entities

@{
	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle(@StringTable.SemesterRegisteredStudentsList);
}

<style type="text/css">
	.registered-student-div
	{
		float: right;
		width: 310px;
		margin: 4px;
	}

	.registered-student-name
	{
		font-family: Arial;
		font-weight: bold;
		font-size: 14pt;
	}

	.registered-student-subdetails-div 
	{
		font-size: 10pt;
		color: #808080;
	}

</style>

<h2>@StringTable.SemesterRegisteredStudentsList [@Model.SemesterName]</h2>
@if(Model.RegisteredStudents.Count() > 0)
{
	<div>
		@foreach (RegisteredStudent registeredStudent in Model.RegisteredStudents)
		{
			<div class="registered-student-div panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<img alt=""
								 src="../content/images/default-male-profile.png" />
						</div>
						<div class="col-md-8">
							<div class="registered-student-name">@registeredStudent.Student.Name</div>
							<div class="registered-student-subdetails-div">
								<div>@registeredStudent.Class.Name</div>
								<div>@registeredStudent.Stage.Name</div>
								<div>@StringTable.DateOfRegister @registeredStudent.Date.ToShortDateString()</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					@Html.ActionLink(StringTable.ViewRegisteredStudentPage, "Edit", new { registeredStudent.ID })	
				</div>
			</div>
		}
	</div>
}
else
{
	<div>
		<h3>@Messages.ThereIsNoRegisteredStudentsInSemester</h3>
	</div>
}
<!--
<div>
	<ul class="pagination">
		@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
	</ul>
</div>
-->