@model ManarAlSabeel.Web.Models.RegisteredStudentsListViewModel
@using ManarAlSabeel.Domain.Entities

@{
	ViewBag.Title = ManarAlSabeel.Web.Heplers.Helpers.GetPageTitle(@StringTable.RegisteredStudentsList);
}

<style type="text/css">
	.registered-student-div
	{
		float: right;
		width: 200px;
		margin: 2px;
	}

	.registered-student-name
	{
		font-family: Arial;
		font-weight: bold;
		font-size: 13pt;
	}
</style>
<script type="text/javascript">
	function onDeleteClick()
	{
		if (confirm('@StringTable.AreYouSure')) {
			$('deleteForm').submit();
		}

		return false;
	}
</script>
<h2>@StringTable.RegisteredStudentsList</h2>

<div>
	@foreach (RegisteredStudent registeredStudent in Model.RegisteredStudents)
	{
		<div class="registered-student-div panel panel-default">
			<div class="panel-body">
				<div class="registered-student-name">@registeredStudent.Student.Name</div>
				<div style="margin-right: 10px; font-size: 10pt; color: #808080;">
					<div>@registeredStudent.Class.Semester.Name</div>
					<div>@registeredStudent.Class.Name</div>
					<div>@registeredStudent.Stage.Name</div>
				</div>
			</div>
			<div class="panel-footer">
				<div>
					@Html.ActionLink(StringTable.ViewRegisteredStudentPage, "Edit", new { registeredStudent.ID })
				</div>
				@using (@Html.BeginForm("Delete", "RegisteredStudent"))
				{
					@Html.Hidden("registeredStudentId", registeredStudent.ID)
					@Html.Hidden("returnUrl", "/")
					<input class="btn btn-default btn-xs" type="submit"
						   value="@StringTable.DeleteRegisteredStudent"
						   onclick="return confirm('@StringTable.AreYouSure');" />
				}
			</div>
		</div>
	}
</div>
<!--
<div>
	<ul class="pagination">
		@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
	</ul>
</div>
-->